# PIPELINES IN SCIKIT LEARN

**The core idea (intuition):**

In real ML workflows, you almost always do this:

- Preprocess data

- scaling

- encoding

- imputing missing values

- Train a model

**A pipeline guarantees:**

- Steps happen in the correct order

- The same preprocessing is applied to train and test data

- No data leakage

- Cleaner code

-> **PIPELINES MAKES IT EASY TO APPLY THE SAME PREPROCESSING TO TRAIN AND TEST**

scaler = StandardScaler() <br>
X_train_scaled = scaler.fit_transform(X_train)<br>
X_test_scaled = scaler.fit_transform(X_test)  # ‚ùå WRONG (data leakage)<br>
<br>
model.fit(X_train_scaled, y_train)

# Where does data leakage happen?

Now look at this:

scaler.fit_transform(X_test)


This means:

You are recalculating mean & std using test data

The model indirectly gets information about the test set

üëâ This breaks the rule:

Test data must be completely unseen during training

Even though you‚Äôre not fitting the model, you‚Äôre still learning from test data.

That is data leakage.

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [10]:
df = sns.load_dataset('titanic')
df = df.iloc[:, :8]
df

     survived  pclass     sex   age  sibsp  parch     fare embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female   NaN      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(df.drop(columns = ['survived']), df['survived'], test_size = 0.2, random_state = 42)

In [16]:
X_train.head(2)

     pclass   sex   age  sibsp  parch  fare embarked
331       1  male  45.5      0      0  28.5        S
733       2  male  23.0      0      0  13.0        S

In [17]:
Y_train.head(2)

331    0
733    0
Name: survived, dtype: int64

In [18]:
df.isnull().sum()

survived      0
pclass        0
sex           0
age         177
sibsp         0
parch         0
fare          0
embarked      2
dtype: int64

In [20]:
si_age = SimpleImputer(strategy='mean')
si_embarked = SimpleImputer(strategy = 'most_frequent')

X_train_age = si_age.fit_transform(X_train[['age']])
X_train_embarked = si_embarked.fit_transform(X_train[['embarked']])

X_test_age = si_age.transform(X_test[['age']])
X_test_embarked = si_embarked.transform(X_test[['embarked']])